body {
    max-height: 100vh;
    max-width: 100vw;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  .checked {
    text-decoration: line-through;
  }
